* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.barner {
  position: absolute;
  left: 40vw;
  top: 1rem;
  height: 2rem;
  width: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.barner__link {
  color: #ff0000;
  width: 3rem;
  font-size: 30px;
  font-weight: 700;
}

.barner__link:hover {
  color: #ff0000;
  text-decoration: none;
}

.barner-menu {
  position: absolute;
  left: 75vw;
  top: 1.5rem;
}

.barner-menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.barner-menu-nav__item {
  padding-right: 1.6rem;
  color: #73726c;
}

.menu-btn {
  position: absolute;
  z-index: 1;
  left: 1rem;
  top: 1.3rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn.open {
  left: 47vw;
}

.menu-btn__burger {
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #73726c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #73726c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #73726c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.my-nav {
  margin-top: -1rem;
  margin-left: -1rem;
  left: 0;
  width: 60vw;
  opacity: 1;
  -webkit-box-shadow: 2px 1px 7px #73726c;
          box-shadow: 2px 1px 7px #73726c;
  visibility: hidden;
}

.my-nav.open {
  visibility: visible;
}

.my-nav .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-left: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100vh;
  overflow: hidden;
  background: #e4dfdf;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.my-nav .menu-nav.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.my-nav .menu-nav__item {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.my-nav .menu-nav__item.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.my-nav .menu-nav__item.login {
  margin-top: 1rem;
}

.my-nav .menu-nav__item.register {
  border-bottom: 1px solid #73726c;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.my-nav .menu-nav__link {
  display: inline-block;
  color: #222222;
  font-size: 1rem;
  padding: .5rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.my-nav .menu-nav__link.login, .my-nav .menu-nav__link.register {
  color: #0f7c90 !important;
}

.my-nav .menu-nav__link:hover {
  text-decoration: none;
  color: #0f7c90;
}

.menu-nav__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
  .barner {
    left: 1rem;
  }
  .barner-menu {
    left: 10rem;
  }
  .my-nav {
    width: 100vw;
    left: 0;
    visibility: visible;
    padding-bottom: 1rem;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .my-nav .menu-nav {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }
  .my-nav .menu-nav__item {
    display: inline;
    margin-right: 3.5rem;
  }
  .my-nav .menu-nav__item.cat {
    position: relative;
  }
  .my-nav .menu-nav__item.cat ul {
    display: block;
    position: relative;
  }
  .my-nav .menu-nav__item.cat ul > li {
    list-style: none;
    text-decoration: none;
  }
  .my-nav .menu-nav__link {
    font-size: 1rem;
    margin-top: 1rem;
    text-decoration: none !important;
  }
  .my-nav .menu-nav__link.login {
    color: #0f7c90 !important;
    border: 1px solid #0f7c90;
    border-radius: 5px;
    padding: .7rem 1rem;
  }
  .my-nav .menu-nav__link.login:hover {
    color: #0b4b57 !important;
  }
  .my-nav .menu-nav__link.register {
    color: #ffffff !important;
    border: 1px solid #0f7c90;
    border-radius: 5px;
    background-color: #0f7c90;
    padding: .7rem 1rem;
  }
  .my-nav .menu-nav__link.register:hover {
    border: 1px solid #0b4b57 !important;
    background-color: #0b4b57 !important;
  }
}

@media screen and (min-width: 576px) {
  .jumbotron {
    background-position: center top;
  }
}

.jumbotron {
  background: url(../img/img1.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
}

body {
  background: #ffffff;
  color: #222222;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

a {
  color: #73726c;
  text-decoration: none;
}

header {
  z-index: 2;
  width: 100%;
  padding: 1rem;
  padding-bottom: 4rem;
  -webkit-box-shadow: 2px 1px 7px #73726c;
          box-shadow: 2px 1px 7px #73726c;
  max-height: 13vh;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

main .social-icons a {
  padding: 0.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .social-icons a:hover {
  color: #222222;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #73726c;
}
/*# sourceMappingURL=main.css.map */