$primary-color: #73726c;
$secondary-color: #222222;
$tertiary-color: #ff0000;
$supplemantary-color: #0f7c90;
$background-color: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@mixin media-sm {
    @media screen and (min-width: 576px) {
      @content;
    }
}
@mixin media-md {
    @media screen and (min-width: 801px) {
      @content;
    }
}
@mixin media-lg {
    @media screen and (min-width: 992px) {
        @content;
    }
}
@mixin media-xl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
