@include media-md {
    .menu-btn {
        visibility: hidden;
    }
    
    .barner {
        left: 1rem;
    }

    .barner-menu {
        left: 10rem;
    }

    .my-nav {
        width: 100vw;
        left: 0;
        visibility: visible;
        padding-bottom: 1rem;
        box-shadow: unset;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                margin-right: 3.5rem;

                &.cat {
                    position: relative;

                    & ul {
                        display: block;
                        position: relative;
    
                        & > li {
                            list-style: none;
                            text-decoration: none;
                        }
                    }
                }
            }

            &__link {
                font-size: 1rem;
                margin-top: 1rem;
                text-decoration: none !important;

                &.login {
                    color: $supplemantary-color !important;
                    border: 1px solid $supplemantary-color;
                    border-radius: 5px;
                    padding: .7rem 1rem;

                    &:hover {
                        color: #0b4b57 !important;
                    }
                }

                &.register {
                    color: $background-color !important;
                    border: 1px solid $supplemantary-color;
                    border-radius: 5px;
                    background-color: $supplemantary-color;
                    padding: .7rem 1rem;

                    &:hover {
                        border: 1px solid #0b4b57 !important;
                        background-color: #0b4b57 !important;
                    }
                }
            }
        }
    }
}

@include media-sm {
    .jumbotron {
        background-position: center top;
    }
}