@include media-md {
    .menu-btn {
        visibility: hidden;
    }
    
    .barner {
        left: 1rem;
    }
    
    .barner-menu {
        left: 10rem;
    }

    .nav {
        width: 100vw;
        left: 0;
        visibility: visible;

        .menu-nav {
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }
}